<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="elements/barstat-element.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">
<dom-module name="graph-stats">
  <template>
  	<style>
    :host {
      width: 100%;
    }
    #selectiondemo {
      position: relative;
      height: 600px;

    }
    google-chart {
      height: 600px;
      width: 800px;
    }
    #selectionchart {
      float: left;
    }
  	</style>
    <div class="layout vertical center">

      <template is="dom-repeat" items="{{optionwise}}">
        <barstat-element heading="{{item.0}}" barcolor="{{getColorCode(index)}}" barvalue="{{item.1}}"></barstat-element>
      </template>

      <div id="selectiondemo">
        <google-chart
          type="pie"
          id="selectionchart"
          options='{"title": "Distribution of Answers"}'
          cols='[{"label": "Answer", "type": "string"},{"label": "Count", "type": "number"}]'
          rows='{{responsewise}}'>
        </google-chart>
      </div>

      <script>
        document.addEventListener('WebComponentsReady', function() {
          var chart = document.querySelector('#selectionchart');
          chart.drawChart();
        });
      </script>
    </div>
  </template>
  <script>
  	Polymer({
      is: "graph-stats",
      properties: {
        optionwise: { type: Array, value: [['Bar1','50'],['Bar2','30']]},
        responsewise: { type: Array, value: [ ['Ans1', 50],['Ans2', 30],['Ans3', 20] ] },
        data : { type: Array, value: [] }
      },
      getColorCode: function(ind){
        var availcolors = ['primary', 'success', 'info','warning','danger','grey'];
        return availcolors[ind%6];
      }
  	});
  </script>
</dom-module>