<link rel="import" href="elements/toggle-display.html">
<link rel="import" href="question-select.html">
<link rel="import" href="elements/question-element.html">
<dom-module name="question-settings">
  <template>
    <style include="shared-styles">
      :host{
      	margin-top: 8px;
      	width: 100%;
      }
      question-select {
        position: fixed;
        width: 80%;
        height: 80%;
        top: 16px;
      }
      question-element {
        width: 80%;
        margin-top: 8px;
      }
    </style>
    <iron-ajax
      id="ironajax"
      url="../Questions"
      params='{{params}}'
      handle-as="json"
      content-type="application/json"
      method='POST'
      on-response="handleResponse"
      on-error="handleError"></iron-ajax>

    <toggle-display show="{{showthis}}" label="Question"></toggle-display>
    <div class="layout vertical" hidden="{{!showthis}}">
    	<paper-button raised class="round blue-bg" on-click="selectQuestionClick" disabled$="{{quizstatus}}">Pick Question</paper-button>
    	<div id="quizsettings" class="layout vertical center" hidden>
    		<question-element id="chosenq" disabled></question-element>
        <div class="layout horizontal center">
          <paper-checkbox checked="{{feedback}}" disabled$="{{quizstatus}}"></paper-checkbox>
          <h3 class="margin0">Immediate feedback to students</h3>
        </div>
        <div class="layout horizontal center mbottom16">
          <paper-checkbox checked="{{timedquiz}}" disabled$="{{quizstatus}}"></paper-checkbox>
          <h3 class="mright16only">Timed<br>Quiz</h3>
          <paper-input class="dark" label="Time in sec" value="{{quiztime}}" disabled$="{{isDisabledQuizTime(timedquiz,quizstatus)}}" type="number" pattern="[0-9]" prevent-invalid-input></paper-input>
        </div>
        <paper-button raised class$="{{toggleCSS(quizstatus)}}" on-click="toggleQuizClick">{{toggleState(quizstatus)}}</paper-button>
    	</div>
		</div>
		<question-select id="questionselect" modal selectedqid="{{selectedqid}}"></question-select>
    <paper-toast id="toast" text=""></paper-toast>
    <paper-toast id="notice" text=""></paper-toast>
  </template>
  <script>
    Polymer({
      is: "question-settings",
      properties: {
	      showthis: { type: Boolean, value: true },
        selectedqid: { type: Number, value: null, observer: 'selectedqidChanged' },
        params: { type: Object, value: {} },
        feedback: {type: Boolean, value: false },
        timedquiz: { type: Boolean, value: false },
        quiztime: { type: Number, value: null },
        quizstatus: { type: Boolean, value: false }
	  	},
	  	selectQuestionClick: function(){
	  		this.$.questionselect.toggle();
	  	},
      ready: function(){
        this.params["action"] = "fetch";
        this.$.ironajax.generateRequest();
      },
      showError: function(err){
        this.$.toast.text=err;
        this.$.toast.show();
      },
      showNotice: function(msg){
        this.$.notice.text=msg;
        this.$.notice.show();
      },
      selectedqidChanged: function(newValue){
        this.showNotice("Question ID selected: "+this.selectedqid);
        if(newValue != null && newValue >=0){
          this.params = {};
          this.params["action"] = "selectquestion";
          this.params["questionid"] = newValue;
          this.$.ironajax.generateRequest();
        }
      },
      handleResponse: function(req) {
          var ajax_response = req.detail.response;
          if(ajax_response.status == 'FAIL'){
            this.showError(ajax_response.error_msg);
          }else if(ajax_response.status == 'SUCCESS'){
            switch(ajax_response.action) {
              case 'selectquestion':
                  var questionarr = JSON.parse(ajax_response.question);
                  var question = questionarr[0];
                  this.setQuestion(question,ajax_response.options);
                  break;
              case 'fetch':
                  this.selectedqid = ajax_response.questionid;
                  if(this.selectedqid != null){
                    this.quizstatus = ajax_response.quizstatus;
                    this.feedback = ajax_response.feedback;
                    this.timedquiz = ajax_response.timedquiz;
                    this.quiztime = ajax_response.quiztime;
                  }
                  break;
              case 'stopquiz':
                  this.quizstatus = ajax_response.quizstatus;
                  break;
              case 'startquiz':
                  this.quizstatus = ajax_response.quizstatus;
                  break;
              default:
                  console.log("unidentified action request");
            }
          }
      },
      handleError: function(resp, err) {
        this.showError(resp.detail.error);
      },
      setQuestion: function(question,options) {
        this.$.quizsettings.removeAttribute('hidden');
        this.$.chosenq.setAttribute('questionid',question.questionid);
        this.$.chosenq.setAttribute('qkind',question.qkind);
        this.$.chosenq.setAttribute('qtype',question.qtype);
        this.$.chosenq.setAttribute('title',question.title);
        this.$.chosenq.setAttribute('qtext',question.qtext);
        this.$.chosenq.setAttribute('options',options);
      },
      toggleQuizClick: function() {
        if(!this.quizstatus){
          this.params = {};
          this.params["action"] = "startquiz";
          this.params["questionid"] = this.selectedqid;
          this.params["feedback"] = this.feedback;
          this.params["timedquiz"] = this.timedquiz;
          if(this.timedquiz && this.quiztime<1) {
            this.showError("Incorrect time!!");
            return;
          }
          this.params["quiztime"] = this.quiztime;
        }else {
          this.params = {};
          this.params["action"] = "stopquiz";
        }
        this.$.ironajax.generateRequest();
      },
      toggleCSS: function(quizstatus) {
        if(quizstatus) return 'round red-bg';
        else return 'round green-bg';
      },
      toggleState: function(quizstatus) {
        if(quizstatus) return 'Stop Quiz';
        else return 'Start Quiz';
      },
      isDisabledQuizTime: function(timedquiz,quizstatus){
        return !timedquiz || quizstatus;
      }
    });
  </script>
</dom-module>