<dom-module name="users-info">
  <template>
  	<style include="shared-styles">
      :host{
        display: block;
        margin: 32px 0 32px 0;
      }
      tr.border_top {
        width: 100%;
        border-top: 1px solid #939393;
      }
      table {
        width: 100%;
        border-collapse: collapse; 
      }
      td,th {
        text-align: center;
        width: 20%;
        padding: 8px 0 8px 0;
      }
      input {
        width: 80%;
        text-transform: lowercase;
      }
      .thinput {
        padding: 0 0 8px 0;
      }
  	</style>
    <div class="layout horizontal center">
      <b><span>{{count}}</span>/<span>{{getTotal(usersinfo)}}</span><span>  selected</span></b>
      <div class="layout horizontal flex end-justified">
        <paper-button class="round blue-bg" on-click="downloadClick">Download</paper-button>
      </div>
    </div>
    <div class="layout vertical center mtop8">
      <table>
        <thead id="tablehead">
          <tr class="border_top">
            <th id="0" on-click="changeSort" style$="{{thStyle('0',sortColumn,sortDescending)}}">Rollnumber</th>
            <th id="1" on-click="changeSort" style$="{{thStyle('1',sortColumn,sortDescending)}}">Name</th>
            <th id="2" on-click="changeSort" style$="{{thStyle('2',sortColumn,sortDescending)}}">Answer</th>
            <th id="3" on-click="changeSort" style$="{{thStyle('3',sortColumn,sortDescending)}}">Status</th>
            <th id="4" on-click="changeSort" style$="{{thStyle('4',sortColumn,sortDescending)}}">LastUpdate</th>
            <th id="5" on-click="changeSort" style$="{{thStyle('5',sortColumn,sortDescending)}}">TimeTook</th>
          </tr>
          <tr>
            <th class="thinput"><input type="search" value="{{rollnumber::input}}"/></th>
            <th class="thinput"><input type="search" value="{{name::input}}"/></th>
            <th class="thinput"><input type="search" value="{{answer::input}}"/></th>
            <th class="thinput"><input type="search" value="{{status::input}}"/></th>
            <th class="thinput"><input type="search" value="{{lastupdate::input}}"/></th>
            <th class="thinput"><input type="search" value="{{timetook::input}}"/></th>
          </tr>
        </thead>
        <tbody id="tablebody">
          <template is="dom-repeat" items="{{usersinfo}}" filter="{{_filter(rollnumber,name,answer,status,lastupdate,timetook)}}" sort="{{_sort(sortColumn, sortDescending)}}">
            <tr class="border_top">
              <td>{{item.1}}</td>
              <td>{{item.2}}</td>
              <td><span class="color-primary">{{item.3}}</span></td>
              <td><span class$="{{statusCSS(item)}}">{{item.4}}</span></td>
              <td>{{item.5}}</td>
              <td>{{item.6}}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </template>
  <script>
  	Polymer({
      is: "users-info",
      properties: {
        rollnumber: { type: String, value: '', observer: 'filterChanged'},
        name: { type: String, value: '', observer: 'filterChanged' },
        answer: { type: String, value: '', observer: 'filterChanged' },
        status: { type: String, value: '', observer: 'filterChanged' },
        lastupdate: { type: String, value: '', observer: 'filterChanged' },
        timetook: { type: String, value: '', observer: 'filterChanged' },
        usersinfo: { type: Array, value: [['1','1200500xx','zzzzz','yyy','Done','xxxx','53']] },
        sortColumn: { type: Number, value: null },
        sortDescending: { type: Boolean, value: false },
        total: { type: Number, value: 0 },
        count: { type: Number, value: 0}
      },
      changeSort: function(e){
        var clickedSortColumn = e.srcElement.id;
        if(clickedSortColumn == this.sortColumn){
          //column already sorted, reverse sort
          this.sortDescending = !this.sortDescending;
        }else{
          this.sortColumn = clickedSortColumn;
        }
      },
      thStyle: function(column,sortColumn,sortDescending){
        if(column == sortColumn){
          if(sortDescending) return 'text-decoration:overline';
          else return 'text-decoration:underline';
        }else return '';
      },
      _sort : function(key, desc) {
        return function(a, b) {
          var x = a[key];
          var y = b[key];
          //console.log(key+" "+x+" "+y);
       
          if (typeof x == "string" && typeof y == "string"){
            x = x.toLowerCase(); 
            y = y.toLowerCase();
          }
          if(desc){
            return ((x < y) ? 1 : ((x > y) ? -1 : 0));
          }else{
            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
          }
        };
      },
      _filter: function(rollnumber,name,answer,status,lastupdate,timetook) {
        return function(a) {
          function evalMatch (str,val){
            str = JSON.stringify(str).toLowerCase();
            val = val.toLowerCase();
            if(val.charAt(0)=='!'){
              var temp = val.substring(1)
              return temp =='' || !(str.indexOf(temp) > -1);
            }else return str.indexOf(val) > -1;
          }
          var b0 = rollnumber =='' || evalMatch(a[1],rollnumber);
          var b1 = name =='' || evalMatch(a[2],name);
          var b2 = answer =='' || evalMatch(a[3],answer);
          var b3 = status =='' || evalMatch(a[4],status);
          var b4 = lastupdate =='' || evalMatch(a[5],lastupdate);
          var b5 = timetook =='' || parseInt(a[6]) >= parseInt(timetook);

          if(b0 && b1 && b2 && b3 && b4 && b5) return true;
          return false;
        };
      },
      statusCSS: function(item){
        var statuscode = item[4];
        var correct = item[8];
        if(statuscode=='Disconnected') return "label bgcolor-grey";
        else if(statuscode=='Connected') return "label bgcolor-info";
        else if(statuscode=='Attempting') return "label bgcolor-warning";
        else if(statuscode=='Completed') {
          if(correct==null) return "label bgcolor-success";
          else if(correct) return "label bgcolor-success";
          else return "label bgcolor-danger";
        }else if(statuscode=='Stopped') return "label bgcolor-primary";
        else return "label bgcolor-danger";
      },
      getTotal: function(arr){
        this.total = arr.length;
        this.count = this.total;
        return this.total;
      },
      evalCount: function(){
        var children = Polymer.dom(this.$.tablebody).querySelectorAll('tr');
        this.count = 0;
        for(var i=0;i<children.length;i++){
          if(!children[i].hidden) this.count++;
        }
      },
      filterChanged: function(){
        this.async(this.evalCount);
      },
      downloadClick: function(){
        //https://thiscouldbebetter.wordpress.com/2012/12/18/loading-editing-and-saving-a-text-file-in-html5-using-javascrip/
        var textToWrite="";

        var ths = Polymer.dom(this.$.tablehead).querySelectorAll('tr')[0].querySelectorAll('th');
        var temp=""
        for (var i=0; i<ths.length; i++) {
          temp+=ths[i].innerHTML;
          if(i!=ths.length-1) temp+=",";
        }
        textToWrite+=temp+"\n";

        var children = Polymer.dom(this.$.tablebody).querySelectorAll('tr');
        for (var i=0; i<children.length; i++) {
          temp="";
          if(!children[i].hidden) {
            var tds = children[i].querySelectorAll('td');
            for(var j=0; j<tds.length; j++){
              var inner = tds[j].querySelectorAll('span')[0];
              if(inner!=undefined) inner = inner.innerHTML;
              else inner = tds[j].innerHTML;
              temp+=inner;
              if(j!=tds.length-1) temp+=",";
            }
            textToWrite+=temp+"\n";
          }
        }

        var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'});
        var fileNameToSaveAs = 'quizstats';

        var downloadLink = document.createElement("a");
        downloadLink.download = fileNameToSaveAs;
        downloadLink.innerHTML = "Download File";
        if (window.URL != null)
        {
          // Chrome allows the link to be clicked
          // without actually adding it to the DOM.
          downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
        }
        else
        {
          // Firefox requires the link to be added to the DOM
          // before it can be clicked.
          downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
          downloadLink.onclick = this.destroyClickedElement;
          downloadLink.style.display = "none";
          document.body.appendChild(downloadLink);
        }

        downloadLink.click();
      }
  	});
  </script>
</dom-module>