<dom-module name="short-question">
  <template>
    <style>
    :host {
      display: block;
      width: 100%;
    }
    </style>
    <div class="layout horizontal center" hidden="{{!showthis}}">
      <h3 class="mright16">Answer:</h3>
      <paper-textarea id="opinput" class="layout flex" label="Type answer..." value="{{optext}}" no-label-float type="text" required auto-validate disabled$="{{disabled}}"></paper-textarea>
    </div>
  </template>
  <script>
    Polymer({
      is: 'short-question',
      properties: {
        optext: { type: String, value: '', reflectToAttribute: true, notify: true },
        qkind: { type: String, value: null, observer: 'qkindChanged' },
        showthis: { type: Boolean, value: true },
        options: { type: Array, value: [], observer: 'optionsChanged' },
        disabled: { type: Boolean, value: false }
      },
      isValid: function(){
        this.optext = this.optext.trim();
        if(this.qkind == 'question' && this.optext == ''){
          this.domHost.showError("Please type a short answer!!");
          this.$.opinput.validate();
          return false;
        }else return true;
      },
      getOptions: function(){
        var arr = [];
        if(this.qkind == 'question'){
          var op = {};
          op["opindex"] = 0;
          op["optext"] = this.optext;
          op["answer"] = 1;
          arr.push(op);
        }
        return arr;
      },
      qkindChanged: function(newValue){
        if(this.qkind == 'question') this.showthis = true;
        else this.showthis = false;
      },
      optionsChanged: function(options){
        this.optext = options[0].optext;
      }
    });
  </script>
</dom-module>