<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>ClickrServer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>DATABASE</param-name>
		<param-value>ClickrDB/clickrDB.db</param-value>
	</context-param>
	<listener>
	  <listener-class>webinterface.ServletConfig</listener-class>
	</listener>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>webinterface.AdminLogin</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Classrooms</display-name>
    <servlet-name>Classrooms</servlet-name>
    <servlet-class>webinterface.Classrooms</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Questions</display-name>
    <servlet-name>Questions</servlet-name>
    <servlet-class>webinterface.Questions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Classrooms</servlet-name>
    <url-pattern>/Classrooms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Questions</servlet-name>
    <url-pattern>/Questions</url-pattern>
  </servlet-mapping>
</web-app>